@import url( 'https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&family=Nunito:wght@700&family=Yellowtail&display=swap')
<link rel="preconnect" href="https://fonts.googleapis.com">
@import url('https://fonts.gstatic.com' ) 

*{
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
body {
    background: linear-gradient(to bottom left, #A52A2A, #B93839, #CC4747, #E05556, #F36364);
  }
.main-login{
     width: 100vw;
     height: 100vh;
     
     display: flex;
     justify-content: center;
     align-items: center;
}
.titulo{
     width: 50vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.titulo > h1{
 color: white;
}
.formulario{
     width: 50vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.card-login{
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 30px 35px;
     backdrop-filter: blur(10px);
     background-color: rgba(255, 255, 255, 0.3);
     border-radius: 20px;
     box-shadow: 0px 10px 40px #00000056;
}
.card-login > h1{
     color: white;
     font-weight: 800;
     margin: 0;
     padding: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
.botao{
     color: white;
     font-weight: 200;
     margin: 10px;
}
.textfield{
 width: 100%;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
     margin: 10px;
}
.textfield > input{
 width: 100%;
 border: none;
 border-radius: 10px;
 padding: 15px;
 background-color: brown;
 color: white;
 font-size: 12pt;
 box-shadow: 0px 10px 40px #00000056;
 outline: none;
 box-sizing: border-box;
 backdrop-filter: blur(5px);
 background-color: rgba(148, 0, 0, 0.6);
}
.textfield > label{
     color: white;
     margin-bottom: 10px;
     
}
.textfield > input::placeholder{
 color: white;
}

.checkbox{
     width: 65%;
     border: none;
     border-radius: 10px;
     padding: 7px;
     background-color: #a52a2a;
     color: white;
     font-size: 9pt;
     box-shadow: 0px 10px 40px #00000056;
     outline: none;
     box-sizing: border-box;
     margin: 10px;
     backdrop-filter: blur(5px);
     background-color: rgba(148, 0, 0, 0.6);
}
.btn-login{
     width: 100%;
     padding: 16px 0px;
     margin: 10px;
     border: none;
     border-radius: 8px;
     outline: none;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 3px;
     background-color: white;
     color: black;
     cursor: pointer;
     box-shadow: 0px 10px 40px -12px #fdfcfc56;
}
