body{
    font-family: 'Nunito', sans-serif;
    color: #1c1c1c;
}

h1, h2, h2{
    font-family: 'Asap', sans-serif;
    color: #000000;
}

.icon{
    font-size: 3em;
    color: black;
}

.botao{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: brown;
    font-size: .9em;
    border-radius: 3px;
}

nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 45px;
    font-family: Yellowtail, serif;
    
}

nav ul{
    align-items: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content:end;
    padding: .3rem;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
}

nav ul li a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(imagem3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1{
    color: white;
}

header p{
    margin-bottom: 2em;
}

#Sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: brown;
    color: white;
}
#Sobre h2{
    color: white;
}

#Sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#Sobre .botao{
    background-color: azure;
    color: black;
}

#Ambiente{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#Amiente h2{
    margin-bottom: 20px;
}

#Ambiente p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}
#Ambiente div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 20px;
}
#Ambiente img {
    width: 33.3333333%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;

}

#Serviços{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Serviços div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#Contato h2 {
    color: black;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: brown;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}
footer .botao{
    font-size: 2rem;
    border: none;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    background-color: brown;
    border-radius: 3px;
}


@media screen and (min-widht: 768px){

    nav{
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header{
        height: 600px;
        height: 60vh;
        justify-content: center;

    }

    #Sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #Ambiente{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    #Ambiente div {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #Ambiente h2 {
        width: 100%;
        text-align: center;
    }

    #Ambiente img {
        width: 33.3333333%;
    }

    #Serviços{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;

    }

    #Serviços h2 {
        text-align: center;
        width: 100%;
    }

    #Serviços div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #Contato h2, #Contato p{
        width: 100%;
    }
}